<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-lg-4 col-xl-3 margin-top-15 margin-bottom-15" *ngFor="let ensu of ensureaces">
            <div class="card" style="width: 18rem; width: 100%;" [ngClass]="{'ensureace-selected': ensu.selected}">
                <div class="card-body">
                  <h5 class="card-title">{{ensu.titulo}}</h5>
                  <p class="card-text">{{ensu.descripcion}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Puntaje: {{ensu.puntaje}}</li>
                  <li class="list-group-item">Costo: ${{ensu.costo | numberFormat}}</li>
                  <li class="list-group-item">Franquicia: ${{ensu.franquicia | numberFormat}}</li>
                  <li class="list-group-item" *ngIf="ensu.granizo">Protección contra granizo: Si</li>
                  <li class="list-group-item" *ngIf="!ensu.granizo">Protección contra granizo: No</li>
                </ul>
                <div class="card-body">
                    <button style="width: 100%;" type="submit" class="btn btn-selector-primary" (click)="selectEnsureace(ensu)" *ngIf="!ensu.selected">Seleccionar</button>
                    <button style="width: 100%;" type="submit" class="btn btn-selector-secondary" (click)="deselectEnsureace(ensu)" *ngIf="ensu.selected">Deseleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2">
          <button style="width: 100%;" type="submit" class="btn btn-primary" cdkStepperPrevious>Volver</button>
      </div>
      <div class="col-md-2">
          <button style="width: 100%;" type="submit" class="btn btn-primary" cdkStepperNext>Continuar</button>
      </div>
    </div>
</div>